Flask==3.0.0
Flask-Cors==4.0.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
python-dotenv==1.0.1
requests
google-genai
groq==1.1.1
xhtml2pdf==0.2.17
beautifulsoup4==4.12.3
google-auth==2.29.0
duckduckgo_search>=6.0.0
flask-sqlalchemy
psycopg2-binary
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pdfplumber==0.11.0
ddgs>=9.11.0
urllib3<2.0.0          # Ensures compatibility with older request formats if needed